*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flex {
  display: flex;
}
.none {
    display: none;
}


@media (max-width: 1800px) and (min-width: 100px) {

    .full,.html {
        
        min-height: 100vh;
        min-width: 100vw;
        
    }
    .html {
        background-image: url(img/background/start.webp);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
       
        
    }
    .menu {
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-image: url(img/background/menu.webp);
        background-position: center;
        background-size: cover;
    }
    .menu__main__button_play {
        font-size: 32px;
       
        margin-top: 32px;
    }
    .game {
        background-color: #fff;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }
    .game__main {
        width: 100vw;
        height: 85vh;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
        
    }
    .game__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        justify-content: space-evenly;
        height: 15vh;
        border-top: #ff3b96 3px ridge;
        background-color: #ffb1df;

        
    }
    .game__footer__button_talk,.game__footer__button_do,.game__footer__button_skin {
        /* border-left: #ff3b96 3px ridge;
        border-right: #ff3b96 3px ridge;
        border-bottom: #ff3b96 3px ridge; */
        border: #ff3b96 ridge;
        border-width: 0px 3px 3px 3px;
        font-size: 24px;
        background-color: #ff3b9699;
        border-radius: 20px;
        width: 30%;
        text-align: center;
        padding: 10px;


        height: 90%;
    }

    .game__menu-talk,.game__menu-do,.game__menu-skin {
        border: #ff8899aa solid;
        border-width: 0px 3px 0px 3px;
        border-radius: 30px;
        height: 100%;
        width: 80%;
        margin-left: 10%;
        z-index: 2;
        background-color: #ff3b9633;
        
       
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .game__menu-skin__answers {
        display: flex;
        flex-direction: row;
       
    }
    .game__menu-skin {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    

    .game__menu-talk div, .game__menu-do div {
        border: #ff3b96 ridge;
        border-width: 0px 3px 3px 3px;
        font-size: 24px;
        background-color: #ff3b9699;
        border-radius: 20px;
        width: 80%;
        margin-top: 4%;
        text-align: center;
        padding: 10px;  
        height: 50px;  
    }
    .game__menu-skin__button-back {
        
        background-color: #ff3b9699;
        
        border: #ff3b96 ridge;
        font-size: 32px;
        border-width: 0px 4px 4px 4px;
        border-radius: 30px;
        

    }
    .game__menu-skin__answers {
        margin-bottom: 16%;
       
    }

    .game__menu-skin__answers div {
        margin-left: 8px;
    }

    .game__menu-skin img {
        width: 100px;
        height: 100px;
        
    }
    

    .select {
        border: 5px solid #00ff00;
    }
    .release {
        border: 5px solid #ff0000;
    }
    .game__menu-skin__button-back {
        width: 100%;
    }
}

